:root {
    --dark-gray: #3B3B3B;
    --light-gray: #7C7C7C;
    --light-yellow: #F7B633;
    --light-orange: #F97423;
    --dark-orange: #FC4A1A;
    --bg: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    @media (max-width: 1080px) {
        font-size: 93.75%;
    }

    @media (max-width: 720px) {
        font-size: 87.5%;
    }
}

body {
    background: var(--bg);
    background-image: url("../assets/bg.svg");
    background-repeat: repeat-y;
    --webkit-font-smoothing: antialiased;
    font-family:  Roboto, sans-serif;
    color: var(--light-gray);
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
    transition: filter 0.2s;
}

a:hover {
    filter: brightness(0.9);
    color: #fff;
}